{% set imagesWidth = 400 %}
{% set imagesHeight = 400 %}
{% set imagesLightboxWidth = 2000 %}
{% set imagesLightboxHeight = 2000 %}



{% if header.images|length > 0 %}
    <div class="container">
        <h2>{{ header.title }}</h2>
        <div class="row images-modular">
        {% for image in header.images %}
            <div class="col-sm-6 col-lg-4">
                <a rel="lightbox" data-width="{{ imagesLightboxWidth }}" data-height="{{ imagesLightboxHeight }}" href="{{ page.media[image.full].cropResize(imagesLightboxWidth, imagesHimagesLightboxHeighteight).url }}">
                    <img class="img-responsive" src="{{ page.media[image.full].cropZoom(imagesWidth, imagesHeight).url }}" alt="{{ header.title }}">
                </a>
                {{ image.text }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}